@import 'recordings/recordings';
@import 'navigation/navigation';
@import 'interactive/interactive';

.reimagine {
	max-width: 1280px;
	width: 100%;
	// margin: 0 auto;
	// overflow: auto;
	height: 100%;

	// & > div:first-child {
	// 	float: left;
	// 	width: 250px;
	// 	height: calc(100% - 2px);
	// }
	// & > div:last-child {
	// 	float: right;
	// 	width: calc(100% - 252px);
	// 	height: 100%;
	// }
}

body {
	margin: 0;
}

html,
body,
#root,
.reimagine {
	height: 100%;
}
.jlw-headerOffset {
	padding-top: 80px;
}

@media screen and (max-width: 700px) {
	.jlw-headerOffset {
		padding-top: 50px;
	}
}

p {
	font-size: 20px;
}

.jlw {
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

hr {
	margin: 40px auto;
	padding: 0;
	max-width: 250px;
	border: 0;
	border-top: solid 5px;
	text-align: center;
}

.prevent-selection {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button {
	@extend .prevent-selection;
}

.pointer {
	cursor: pointer;
}

.reimagine-spin {
	-webkit-animation: reimagine-spin 2s infinite linear;
	animation: reimagine-spin 2s infinite linear;
}
@-webkit-keyframes reimagine-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes reimagine-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

.reimagine-unclickable {
	color: $grey;
	opacity: 0.7;
	cursor: default;
}
