.reimagine-interactive {
	height: 100%;
}

.reimagine-interactive-midiVisualizer {
	height: 100%;
}

.reimagine-interactive-overlay {
	position: absolute;
	width: 100%;
	display: inline-flex;

	& > div {
		flex: 1;
	}

	div:nth-child(2) {
		text-align: center;
		flex: 4;
	}

	div:last-child {
		svg {
			float: right;
		}
	}

	svg {
		@extend %reimagine-default-icon;
	}
}

@media (max-width: 584px) {
	.reimagine-interactive-overlay {
		svg {
			margin: 8px;
		}
	}
}
