.reimagine-settings {
	& > div {
		border-bottom: 1px solid $charcoal;
	}
}

.reimagine-settings-main {
}

.reimagine-settings-identity {
}

.reimagine-settings-identity-buttons {
	svg {
		width: 32px;
		height: 32px;
	}
}
